@use '../../../partials' as *;

.messages_container {
  display: block;
  min-height: calc($font-size-xxs + 5px);
}

.message {
  font-family: $font-family-lato;
  font-size : $font-size-xxs;
  padding: 0;
}

.message[data-validity="INVALID"], .message[data-validity="ERROR"] {
  color : $color-red-invalid-field-message;
}