@use '../../../partials' as *;

.floating_label {
  @extend .b1; 

  display: block;
  transform-origin: top left;
  translate : 0 30px;
  transition: all 250ms ease-in-out;

  cursor: text;
}

.floating_label[data-focused], .floating_label[data-visited], .floating_label[data-modified] {
  translate : 0 8px;
  scale : 0.77;

  cursor: default;
}