@use '../../../partials';

.footer {
  background-color: partials.$color-black-8by8;
  padding: 30px;
  width: 100%;
}

.icons {
  padding: 22px 0;
  display: flex;
  justify-content: center;
}

.transparent_btn {
  background-color: transparent;
  border: none;
  margin: 0 15px;
  svg {
    color: partials.$color-white;
    font-size: 30px;
  }
}

.description {
  p {
    @extend .b6;
    color: partials.$color-white;
    text-align: center;
    margin: 5px;
  }
}
